body {
	margin: 0 auto;
	padding: 0 auto;
    font-family: "Arial", Times, serif;
}

/* ------- Menu et header ------- */
#header{
	position: relative;
	border-bottom: 1px solid grey;
    -moz-box-shadow: 0px 1px 5px #656565;
    -webkit-box-shadow: 0px 1px 5px #656565;
    -o-box-shadow: 0px 1px 5px #656565;
	box-shadow: 0px 1px 5px #656565;
	height : 75px;
	line-height: 75px;
	display: inline-block;
	width: 100%;
}
h1 {
	display: inline;
	color : #90005B;
	margin-left: 15px;
}
nav {
	float:right;
	margin-top: -15px;
	margin-right: 100px;
}
nav ul li {
	text-decoration: none;
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	color: grey;
	font-size: 18px;
    padding: 14px 30px;
}
nav ul li a:focus {
	color: #90005B;
}
nav ul li a:hover {
	color: #90005B;
}
nav ul li:hover {
	border-bottom: 5px solid #90005B;
}

/* ---------- Footer ------------ */
footer{
	position: fixed;
	bottom: 0px;
	text-align: center;
	margin-bottom: 0px;
	width: 100%;
	border-bottom: 1px solid grey;
    -moz-box-shadow: 0px -1px 5px #656565;
    -webkit-box-shadow: 0px -1px 5px #656565;
    -o-box-shadow: 0px -1px 5px #656565;
    box-shadow: 0px -1px 5px #656565;
	height : 25px;
	font-size: 10px;
}

/* ------------ Accueil ------------- */

#carte {
	float: left;
	left: 5%;
	width: 25%;
	height: 550px;
	margin-top: 50px;
}

#slider {
	float: right;
	width: 60%;
	margin-right: 5%;
	height: 550px;
	margin-top: 50px;
}

.imagesSlider {
	height: 550px;
}

/* ----------- Recherche ------------- */
#carteAffichage {
	float: left;
	left: 5%;
	width: 50%;
	height: 550px;
	margin-top: 50px;
	
}

.bouton {
	margin: 0;
    padding: 0;
    line-height: 100%; /* Si ça fonctionne pas mets 0 */
    border: 0;
    background: none; /* ou transparent je sais plus... */
    font: 15px; /* Définis le même font qu'un lien traditionnel */;
    text-decoration: underline; /* Normalement */
}

#batiment textarea {
	width: 90%;
	height: 100px;
}

/* ----------- Statistiques, batiment, recherche ------------ */
#formulaireStats,#formulaire, #listeSalle, #batiment{
	float: left;
	margin-left: 5%;
	width: 35%;
	height: 550px;
	margin-top: 50px;
	background-color: rgba(144, 0, 91, 0.1);
	border-radius: 10px;
}
 #listeSalle h2, #batiment h2 {
 	margin-left : 5%;
 	color: #90005B;
 }
  #listeSalle p, #listeSalle a, #batiment p {
 	margin-left : 5%;
 }
#formulaireStats h2, #formulaire h2 {
	color: #90005B;
}
#formulaireStats form, #formulaire form, #batiment form {
	margin-left: 5%;
	margin-right: 5%;
}

#formulaireStats form fieldset, #formulaire form fieldset {
	margin-bottom: 5%;
}
#placeStats {
	float: right;
	width: 50%;
	margin-right: 5%;
	height: 550px;
	margin-top: 50px;

}

#selection div {
	display: inline-block;
	margin-left: 10px;
	border : 1px solid #90005B;
	padding: 0px 5px;
	background-color:  rgba(144, 0, 91, 0.2);
}

#selection * {
	font-size: 10px;
	display: inline-block;
}

#listeFormStats li a {
	list-style: none;
}

#listeFormStats li a {
	text-decoration: none;
}
/* ----------- Calendar ------------ */

#calendar {

	margin-left: auto;
 	margin-right: auto;
  	position: absolute; /* postulat de départ */
  	top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); 
}

/* --- avis ----- */
.avis li {
	list-style-type: circle; 
	}