{% extends "index.html.twig" %}

{% block section %}

		{% for manifSlider in manifsSlider %}

			<p>{{manifSlider.nomManif}}</p>

		{%endfor %}
	<div id="carte"></div>

	<!-- 

		<p>{{manif.idManif}}</p>

 -->
	<div id="slider">

		<div class="slideshow-container">

		{% for manif in manifs %} <!-- POur chacune des trois manfis -->
	<div class="mySlides fade">
	  <div class="titre">{{manif.nomManif}}</div>
	  <a href="http://www.tnt-cite.com/content/fr/date/2017-05-03/Les-Oiseaux_De-l_imagination/#/184/De-l_imagination"><img class="imagesSlider" src="Images/{{manif.image}}" style="width:100%">
	  </a>
	  <div class="text"> inspiré de Barbe bleue de Charles Perrault</div>
	</div>

	
	{% endfor %}

	</div>

	<br>

	<div style="text-align:center">
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	</div>
	
	<script type="text/javascript">
	var slideIndex = 0;
	showSlides();


	//fonction qui permet le slide tout seul
	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		for (i = 0; i < slides.length; i++) {
		   slides[i].style.display = "none";  
		}
		slideIndex++;
		if (slideIndex> slides.length) {slideIndex = 1}    
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block";  
		dots[slideIndex-1].className += " active";
		setTimeout(showSlides, 2000); // Change l'image toute les 2 secondes 
	}

	</script>

	<script type="text/javascript">
		   
		var url = "http://projettechnoweb.esy.es/index.php?action=listeManifsImages";
        
      
      
		function initialisation(){

			$.get(url, function( data ) {
        
        		data = JSON.parse(data.replace(/&quot;/g,'"'));
        		
        		$.each(data, function (index, val) {

                	var lat = val.LATITUDE;
                	var lon = val.LONGITUDE;

                	var marqueurs = new google.maps.LatLng(lat, lon);
                });

				var optionsCarte = {
					zoom: 13,
					center: new google.maps.LatLng(43.604530, 1.443440)
				}

				var maCarte = new google.maps.Map(document.getElementById("carte"), marqueurs);
		

				var optionsMarqueur = {
					position: maCarte.getCenter(),
					map: maCarte
				};

				var marqueur = new google.maps.Marker(optionsMarqueur);

			});
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuvgmNIZ8WXFy6hAnW_dcSJeVXyswCUBg&callback=initialisation"></script>

	</div>
	
{% endblock %}