{% extends "index.html.twig" %}

{% block section %}

  <div id="batiment">

  <h2>{{batiment.nom}}</h2>

  {% if batiment.descrLong == "" %}
    <p>Aucune description n'a été ajoutée à ce batiment.</p>
    <form method="post" action="index.php?action=batiment">
      <textarea placeholder="Ajoutez une description..."></textarea>
      <input type="hidden" value="{{batiment.idBat}}">
      <input type="submit" value="Valider">
    </form>
  {% endif %}
  <div id="carteAffichage">
  </div>


{% endblock %}