{% extends "index.html.twig" %}

{% block section %}

  <div id="formulaire">

  <form action="/action_page.php">
    <h2>Rechercher une salle</h2>
    
    <fieldset>
      <legend>Recherche d'une salle:</legend>
 
    <label>Type de salle:</label>
    <select name="cars">
      <option value="Théatre">Théatre</option>
      <option value="Cinéma">Cinéma</option>
      <option value="Conférence">Salle de conférence</option>
      <option value="Enseignement">Lieu d'enseignement</option>
      <option value="Café">Café concert</option>
      <option value="Art">Galerie d'art</option>
      <option value="Musée">Musée</option>
      <option value="Ludothéque">Ludothéque</option>
    </select>
  <br><br>
    <input type="submit" value="Submit">
  </div>

{% endblock %}