<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Toulouse Culture</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<!-- CSS -->
		<link href="CSS/theme.css" rel="stylesheet" media="screen" type="text/css" title="css" />
		<LINK rel="stylesheet" type="text/css" href="CSS/slideshow.css">
 		

 		<!-- Jquery et Javascript -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="Javascript/slideshow.js"></script> 

 		<!-- INsertion du favicon -->
 		<link rel="icon" type="image/png" href="Images/favicon.png" />

 		<!-- Insertion de Google Chart -->
 		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 		
	</head>

	<body>
	
	<header>
		<div id="header">
				<h1>Toulouse Culture</h1>
		
				<!-- Barre de nav -->
				<nav>
					<ul>
						<li><a class="lien" href="index.php?action=accueil">Accueil</a></li>
						<li><a class="lien" href="index.php?action=calendrier">Emploi du temps</a></li>
						<li><a class="lien" href="index.php?action=chercher">Cherchez une salle</a></li>
						<li><a class="lien" href="index.php?action=statistiques">Statistiques</a></li>
					</ul> 
				</nav>

		</div>
			
		</header>

		<section> 

		{% block section %}	
		{% endblock %}
			
		</section>


	
	<footer>
		<p>Copyright &copy; Licence 3 Informatique, Université Champollion Albi - Tout droits réservés</p>
	</footer>


</body>

</html>