{% extends "index.html.twig" %}

{% block section %}

  <div id="formulaire">

  <form method="post" action="index.php?action=rechercheSalle">
    <h2>Rechercher une salle</h2>
    
    <fieldset>
      <legend>Recherche d'une salle:</legend>
 
    <label>Type de salle : </label>
    <select name="typeBat">
      {% for type in typesBat %}
      <option value="{{type.idTypeBatiment}}">{{type.typeBatiment}}</option>
      {% endfor %}
      
    </select>

    <br/><br/>
    <label>Quartier : </label>
    <select name="quartier">
      {% for quartier in quartiers %}
      <option value="{{quartier.idQuartier}}">{{quartier.nom}}</option>
      {% endfor %}
    </select>
  <br><br>
    <input type="submit" id="rechercheSalle" name="rechercheSalle" value="Rechercher">
  </div>

{% endblock %}